<div class="container">
  <h1>Édition de l'événement</h1>

  <%= form_for @event_submission, url: admin_event_submission_path(@event_submission), method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <!-- Ajoutez d'autres champs de formulaire si nécessaire -->

    <div class="form-group">
      <%= f.submit 'Valider', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
