<h1>Attendances#index</h1>
<p>Find me in app/views/attendances/index.html.erb</p>

<h1>Liste des invités</h1>

<table>
  <thead>
    <tr>
      <th>Nom de l'invité</th>
      <th>Email de l'invité</th>
      <!-- Add other columns if necessary -->
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td><%= attendance.user.email %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Retour à l\'événement', event_path(@event) %>

<% if current_user == @event.user %>
  <%= link_to "Modifier l'événement", edit_event_path(@event) %>
<% end %>
