<h1>Attendances#new</h1>
<p>Find me in app/views/attendances/new.html.erb</p>
<div class="container mt-5">
  <h2>Rejoindre l'événement</h2>

  <%= form_for [@event, @attendance], html: { class: 'form' } do |f| %>
    <!-- Ajoutez les champs du formulaire pour les informations de paiement ici -->
    
    <%= button_to "Passer commande (NEXT GEN)", checkout_create_path(total: @montant_a_payer, event_id: @id_pour_la_metadata), class: "btn btn-primary", data: {turbo: false} %>
  <% end %>
</div>

